{% extends "base.html" %}

{% block content %}
<h1 class="title">Wybrałeś {{choice}} :)</h1>
<iframe name="mapframe" width="850" height="700" id="mapframe"
src="https://www.google.com/maps?z=11&amp;f=d&amp;output=embed&saddr={{sourceLat}},{{sourceLong}}&daddr={{destLat}},{{destLong}}">
</iframe>
<script>
function geoFindMe() {
function success(position) {
  const latitude  = position.coords.latitude;
  const longitude = position.coords.longitude;
  var results=[];
  results.push(latitude);
  results.push(longitude);
  return results;
}

function error() {

}
if(!navigator.geolocation) {
  
} else {

 navigator.geolocation.getCurrentPosition(timeoutRefresh, error);
}

}


function distance(lat1, lon1, lat2, lon2, unit) {
    console.log(lat1,lon1,lat2,lon2);
	if ((lat1 == lat2) && (lon1 == lon2)) {
		return 0;
	}
	else {
		var radlat1 = Math.PI * lat1/180;
		var radlat2 = Math.PI * lat2/180;
		var theta = lon1-lon2;
		var radtheta = Math.PI * theta/180;
		var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
		if (dist > 1) {
			dist = 1;
		}
		dist = Math.acos(dist);
		dist = dist * 180/Math.PI;
		dist = dist * 60 * 1.1515;
		if (unit=="K") { dist = dist * 1.609344 }
		if (unit=="N") { dist = dist * 0.8684 }
        console.log(dist);
		return dist;
	}
}


var flag1=true;
var prevLatitude=0.0;
var prevLongitude=0.0;
if(flag1) {
    prevLatitude= '{{sourceLat}}';
    prevLongitude='{{sourceLong}}';
    flag1=false;
}


function timeoutRefresh(timeout, time)
{
if( new Date().getTime()-time <=timeout)
{
    console.log("No timeout");
    var fakeResults=[];
    fakeResults.push(10);
    fakeResults.push(10);
    fakeResults.push(0);
    fakeResults.push(0);
    return fakeResults
}
else{
    

var destLatitude='{{destLat}}';
var destLongitude='{{destLong}}';
var sourceLatitude = parseFloat(prevLatitude)+(parseFloat(destLatitude)-parseFloat(prevLatitude))/4;
var sourceLongitude= parseFloat(prevLongitude)+(parseFloat(destLongitude)-parseFloat(prevLongitude))/10;
prevLatitude=sourceLatitude;
prevLongitude=sourceLongitude;
console.log("Source latitude", sourceLatitude);
console.log("Source longitude", sourceLongitude);
let new_url="https://www.google.com/maps?z=11&amp;f=d&amp;output=embed&"
new_url+="saddr="+ String(sourceLatitude)+",";
new_url+=String(sourceLongitude)+"&daddr=";
new_url+=String(destLatitude)+","+String(destLongitude);


document.getElementById('mapframe').src=new_url;

var new_results=[];
new_results.push(sourceLatitude);
new_results.push(sourceLongitude);
new_results.push(destLatitude);
new_results.push(destLongitude);
return new_results;
}

//geoFindMe(); // w realnych przypadkach, w symulacji ten source trzeba inaczej zmieniać
//var newSourceLatitude=position.coords.latitude;
//var newSourceLongitude=postion.coords.longitude; // dla realnych przypadków


}


var flag=true;
var time=new Date().getTime();
intervalId=setInterval(function(){
    console.log("dupa");
    if(!flag) {
        time=new Date().getTime();
        flag=true;
    }
    new_results=timeoutRefresh(3000,time);

    if(distance(new_results[0],new_results[1],new_results[2],new_results[3],'K') <= 0.1) {
        clearInterval(intervalId); // w realnych przypadkach tak nie będzie, trzeba obliczyć
        // odległość między sourcem a destination i jeśli odległość mniejsza niż załóżmy 10 metrów to wtedy git, na razie to jest symulacja
    flag=false;
    var btn = document.createElement("BUTTON");
    btn.innerHTML="Listen information about this place";
    btn.onclick=function()
    {
            var fileName= '{{mp3file}}'
            var audio = new Audio(fileName);
            audio.play();
    }
    document.body.appendChild(btn);        
}
}, 3000)

</script>
{% endblock %}