{% extends "base.html" %}

{% block content %}
<form method="POST" action="/searchMonuments">
  <div class="field">
      <div class="control">
        <label for="latitude">Your latitude: </label>
        <input id="latitude" name="latitude">
      </div>
  </div>
  <div class="field">
      <div class="control">
        <label for="longitude">Your longitude: </label>
        <input id="longitude" name="longitude">
      </div>
  </div>
  <div class="field">
      <div class="control">
        <label for="radius">Radius [km]:</label>
        <input class="input" type="number" id= "radius" name="radius">
      </div>
  </div>
  <button class="button is-block is-info">Search</button>
</form>

<script src="{{url_for('static', filename='geoFindMe.js')}}"> 
</script>
{% endblock %}